@using MvcOnlineTicari.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #custom-tr {
        font-weight: 500;
        font-size: 18px;
    }

    #custom-tr-2 {
        font-size: 17px;
    }
    .button-6 {
        align-items: center;
        background-color: red;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        height: 2.4rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 350ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-6:hover,
        .button-6:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
            color: red;
            background-color: white;
        }

        .button-6:hover {
            transform: translateY(-1px);
        }

        .button-6:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
        }

    .button-7 {
        align-items: center;
        background-color: #37b712;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        height: 2.4rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 350ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-7:hover,
        .button-7:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
            color: #37b712;
            background-color: white;
        }

        .button-7:hover {
            transform: translateY(-1px);
        }

        .button-7:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
        }

    .button-8 {
        align-items: center;
        background-color: rgb(72, 71, 69);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        height: 2.4rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 350ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-8:hover,
        .button-8:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
            color: rgb(72, 71, 69);
            background: white;
        }

        .button-8:hover {
            transform: translateY(-1px);
        }

        .button-8:active {
            background-color: rgb(72, 71, 69);
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
        }
    #status {
        margin-top: 7px;
        margin-left: 14px;
        cursor: default;
    }
</style>
<div class="container-fluid">
    <br />
    <h1 class="display-4 font-weight-bold" id="page-headers">Mevcut Cariler</h1>
    <br />
    <div class="border border-light" id="data-tables" style="margin-bottom: 20px;">
        <div class="content" style="margin:10px;">
            <table class="table table-borderless">
                <tr id="custom-tr">
                    @*<th>Cari ID</th>*@
                    <th>Cari Adı</th>
                    <th>Cari Soyadı</th>
                    <th>Cari Şehir</th>
                    <th>Cari Mail</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr id="custom-tr-2">
                        @*<td>@item.CurrentID</td>*@
                        <td>@item.CurrentName</td>
                        <td>@item.CurrentSurName</td>
                        <td>@item.CurrentCity</td>
                        <td>@item.CurrentMail</td>
                        <td><a href="/Current/DeleteCurrent/@item.CurrentID" class="btn button-6">Sil</a></td>
                        <td><a href="/Current/GetCurrent/@item.CurrentID" class="btn button-7">Güncelle</a></td>
                        <td><a href="/Current/EmployeeSaleHistory/@item.CurrentID" class="btn button-8">Satış Geçmişi</a></td>
                    </tr>
                }

            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page })
               , new PagedListRenderOptions
               {
                   LiElementClasses = new List<string>
                   {"page-link"}
               })
            <a class="btn btn-warning" style="margin:0 0 10px 10px;" data-toggle="modal" data-target="#Current">Cari Ekle</a>
        </div>

    </div>
   
</div>
<div class="modal" id="Current">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight:700;">Yeni Departman</h2>
            </div>
            <form class="form-group" method="post" action="/Current/AddCurrent/">
                <div class="modal-body">
                    <label>Cari Adı</label>
                    <input type="text" name="CurrentName" class="form-control" />
                    <br />
                    <label>Cari Soyadı</label>
                    <input type="text" name="CurrentSurName" class="form-control" />
                    <br />
                    <label>Cari Şehri</label>
                    <input type="text" name="CurrentCity" class="form-control" />
                    <br />
                    <label>Cari Mail Adresi</label>
                    <input type="text" name="CurrentMail" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>