@model MvcOnlineTicari.Models.Entity.Employee
@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <br />
    <h2>Departman Güncelleme</h2>
    @using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeName)
            @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.EmployeeSurName)
            @Html.TextBoxFor(x => x.EmployeeSurName, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.EmployeeImage)
            <br />
            @*@Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control" })*@
            <input type="file" name="EmployeeImage" />
            <br />
            <br />
            @Html.LabelFor(x => x.Department.DepartmentID)
            @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })

            @Html.HiddenFor(x => x.EmployeeID)
        </div>
        <button class="btn btn-warning">Güncelle</button>
    }
</div>
