@model MvcOnlineTicari.Models.Entity.Product
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #data-tables-2 {
        padding: 8px;
        border-radius: 25px;
        box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
        transition: .3s;
        margin: 0 auto 20px auto;
        width: 50%;
    }
</style>
<div class="container-fluid">
    <br />
    <h1 class="display-4 font-weight-bold" id="page-headers">Ürün Güncelleme</h1>
    <br />
    <div class="border border-light" id="data-tables-2">
        <div class="content" style="margin:12px;">
            @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
            {

                <div class="form-group">
                    @Html.LabelFor(x => x.ProductName)
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductName, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductBrand)
                    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductBrand, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductImage)
                    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductImage, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductPurchasePrice)
                    @Html.TextBoxFor(x => x.ProductPurchasePrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductPurchasePrice, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductSalePrice)
                    @Html.TextBoxFor(x => x.ProductSalePrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductSalePrice, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.Category.CategoryID)
                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductStock)
                    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductStock, "", new { @style = "color:red;margin-bottom:-40px;" })
                    <br />
                    @Html.LabelFor(x => x.ProductStatus)
                    @Html.TextBoxFor(x => x.ProductStatus, new { @class = "form-control" })

                    @Html.HiddenFor(x => x.ProductID)
                </div>
                <button class="btn btn-warning">Güncelle</button>

            }
        </div>
    </div>
</div>
