@model MvcOnlineTicari.Models.Entity.Product
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <br />
    <h2>Ürün Güncelleme</h2>
    <br />
    @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
    {
<div class="form-group">
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductName, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductBrand, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductImage, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.ProductPurchasePrice)
    @Html.TextBoxFor(x => x.ProductPurchasePrice, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductPurchasePrice, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.ProductSalePrice)
    @Html.TextBoxFor(x => x.ProductSalePrice, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductSalePrice, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryID)
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.ProductStock)
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProductStock, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.ProductStatus)
    @Html.TextBoxFor(x => x.ProductStatus, new { @class = "form-control" })

    @Html.HiddenFor(x => x.ProductID)
</div>
        <button class="btn btn-warning">Güncelle</button>
    }
</div>