@using MvcOnlineTicari.Models.Entity
@model List<InvoiceItem>
@{
    ViewBag.Title = "InvoiceDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2 class="mt-4">Fatura Detay Sayfası</h2>
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active" style="font-weight:500">Fatura Seri No: @ViewBag.invcs</li>
    </ol>

    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Açıklama</td>
            <td>Birim Fiyat</td>
            <td>Tutar</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.InvoiceItemID</td>
                <td>@item.InvoiceItemDesc</td>
                <td>@item.InvoiceItemUnitPrice</td>
                <td>@item.InvoiceItemQuantity</td>
            </tr>
        }
    </table>
    <a href="/Invoice/AddInvoiceItem/" class="btn btn-primary">Yeni Kalem Girişi</a>
</div>