@using MvcOnlineTicari.Models.Entity.Dto
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<CategoryDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .button-6 {
        align-items: center;
        background-color: red;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        height: 2.4rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 350ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-6:hover,
        .button-6:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
            color: red;
            background-color: white;
        }

        .button-6:hover {
            transform: translateY(-1px);
        }

        .button-6:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
        }

    .button-7 {
        align-items: center;
        background-color: #37b712;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        height: 2.4rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 350ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-7:hover,
        .button-7:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
            color: #37b712;
            background-color: white;
        }

        .button-7:hover {
            transform: translateY(-1px);
        }

        .button-7:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
        }

    #custom-tr {
        font-weight: 500;
        font-size: 16px;
    }

    #custom-tr-2 {
        font-size: 20px;
    }

    #status {
        margin-top: 7px;
        margin-left: 14px;
        cursor: default;
    }
</style>
<div class="container-fluid">
    <br />
    <h1 class="display-4 font-weight-bold" id="page-headers">Kategori Sayfası</h1>
    <br />
    <div class="col-md-12">
        <div class="border border-light" id="data-tables">
            <div class="content" style="margin:12px;">
                <br />
                <table class="table table-borderless">
                    <tr id="custom-tr-2">
                        <th>Kategori Adı</th>
                        <th>Durum</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="custom-tr">
                            <td>@item.CategoryName</td>
                            @if (@item.CategoryStatus == true)
                            {
                                <td class="btn btn-success" id="status">@item.CategoryStatusText</td>
                            }
                            else
                            {
                                <td class="btn btn-danger" id="status">@item.CategoryStatusText</td>
                            }

                            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="button-6" style="text-decoration: none;" onclick="alert1()">Sil</a></td>
                            <td><a href="/Category/GetCategory/@item.CategoryID" class="button-7" style="text-decoration: none;" id="btn-5">Güncelle</a></td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page })
                , new PagedListRenderOptions
                {
                    LiElementClasses = new List<string>
                    {"page-link"}
                })
                <a href="/Category/AddCategory/" class="btn btn-primary" style="margin:0 0 16px;">Yeni Kategori</a>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function alert1() {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    };
</script>